body, html, .bgcell1{

    width:100%;
    height:100%;
    margin:0;padding:0;
}

#bgcell1{
    position: absolute;
    filter: blur(0);
    
}

#bgcell1 > img {
    width:100vw;
    height:100vh;
}

#terug1{
    position: absolute;
    top: 67%;
    left: 56%;
    background-color:darkgrey ;
    cursor: pointer; 
    border-radius: 25%; 
    cursor: pointer;
}

#blaadje{
    position: absolute;
    top: 80%;
    left: 48%;
    cursor: pointer;
    border-radius: 25%;
    background-color: transparent;
    border-color: transparent;
    color: transparent;
}

#blaadje1{
    height: 430px;
    width: 400px;
    position: absolute;
    top: 15%;
    left: 35%;
    background-color: whitesmoke;
    text-align: center;
    font-size: 300px;
    background-image: url(../pictures/vlekken.jpg);
    margin: 0;
    padding: 0;
    visibility: hidden; 
    
}

#weg{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: orange ;
    cursor: pointer;
}